.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.pagination-button {
    margin-right: 8px;
    border: 2px solid #e4b10c;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-button:hover {
    color: lightblue;
}

.isActive {
    background: #1bd0d6;
}