.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-image {
    animation: rotatePicachu 1.5s linear infinite;
}

@keyframes rotatePicachu {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }

}